.container {
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.textInput {
  padding: 2px 2px 2px 6px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.privacySection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.passwordSection,.emailSection{
    display: flex;
    flex-direction: column;

}

.container > button {
  font-size: larger;
}

#loginButton {
  padding: 10px;
}
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.termsContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  background-color: white;
  padding: 30px 20px;
  border-radius: 12px;
  z-index: 1001;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.termsList {
  list-style: decimal;
  padding-left: 20px;
  margin-top: 10px;
  color: #444;
}

.term {
  margin-bottom: 10px;
}

.xmark {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  color: #444;
}

.conditions {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}
