* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 1s ease-in-out;
}


.background-curve {
  position: absolute;
  width: 150%;
  height: 300px;
  background: radial-gradient(circle at center, rgba(168, 85, 247, 0.2), transparent);
  box-shadow: 0 0 80px 50px #f755f7;
  filter: blur(80px);
  border-radius: 50%;
  z-index: 1;
  bottom: -80px;
  transition: all 1s ease-in-out;
}

.background-curve.top {
  top: -80px;
  bottom: auto;
  transition: all 1s ease-in-out;
}

.auth-container {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 3rem;
  width: 460px;
  color: white;
  box-shadow: 0 0 40px rgba(247, 85, 242, 0.4);
  animation: fadeInUp 1s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.auth-container h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block ;
  margin-bottom: 0.4rem;
}

.form-group input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  font-size: 1rem;
  outline: none;
}

.form-group input::placeholder {
  color: #ccc;
}

.terms-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.auth-btn {
  width: 100%;
  padding: 0.9rem;
  background: linear-gradient(to right, #c933ea, #d455f7);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.auth-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 20px rgba(168, 85, 247, 0.6);
}

.toggle-link {
  margin-top: 1.2rem;
  text-align: center;
  font-size: 0.95rem;
  cursor: pointer;
  color: #aaa;
}

.toggle-link span {
  color: #a855f7;
  text-decoration: underline;
}

.error {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

